*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background: url(/images/free-photo-of-rooftop-sunset.jpg)no-repeat center center/cover;
    height: 100vh
}

#yatra{
    height: 85px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    
    .join{
        background-color: rgb(39, 39, 39);
        height: 40px;
        padding: 15px;
        border-radius: 20px;
        color: white;
        justify-content: center;
        img{
            height: 40px;
        }

        #prime{
            color: rgb(246, 203, 11);
        }
        
        span{
            background-color: rgb(246, 203, 11);
            color: black;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 10px;
            border-radius: 10px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }   
    }
    #content{
        display: flex;
        justify-content: space-around;
        gap: 30px;
        
        .call{
            background-color: red($color: #000000);
        }

       .login{
        text-decoration: none;
        background-color: red($color: #000000);
        color: white;
       } 
    }
    
    
}